{% extends "base.html" %}


{% block content %}
<script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
<script>

$(document).ready(function() {
  (function poll() {
    setTimeout(function() {
        $.ajax({
            url: "/CheckIfRefreshNecessary/",
            type: "GET",
            success: function(data) {
                console.log("polling");
            },
            dataType: "json",
            complete: poll,
            timeout: 5000
        })
    }, 5000);
  })();
});
</script>
{%if message %}
	<div id=message>
		{{ message}}
	</div>
{%endif%}


<div id="searchdiv">
	<form action="/search/" method="post">{% csrf_token %}
	    <label for="searchquery">Search User:</label>
	    <input type="text" name="searchquery" value="" id="searchquery">
	    <input type="submit" value="Search" />
	    <input type="hidden" name="next" value="{{ next|escape }}" />
	</form>
    <div>
    	{{user_choices_list | safe}}
    </div>
</div>

<div id="tweetdiv">
<form action="/PostTweet/" method="post">{% csrf_token %}

	{{TweetBoardForm.as_table}}<input type="submit" value="Post!" />	 
</form>
{%if tweetslist %}
	<div>
		{{tweetslist | safe}}
	</div>
{%endif%}
</div>
{% endblock %}