{% extends "base.html" %}

{% block content %}

<script>

$(document).ready(function() {
   (function onload() {
   	$("#last_refresh_datetime")[0].value = ($.now())
   })();
  (function poll() {
    
    lastRefreshDT =$("#last_refresh_datetime")[0].value  
    url = "/CheckIfRefreshNecessary/"

    setTimeout(function(url) {
        $.ajax({
            url: "/CheckIfRefreshNecessary/" ,
            data: {
            	clientdt : lastRefreshDT
            },
            type: "POST",
            success: function(data) {
               if(data.message)
               {
               		//refresh page
               		$.ajax({
               			url: "/home/",
               			type: "GET",
               			success: function(data)
               			{
               				window.location.reload();
               			}
               		});
               }

            },
            dataType: "json",
            complete: poll,
            timeout: 5000
        })
    }, 5000);
  })();
});
</script>
{%if message %}
<div id=message>
{{ message}}
</div>
{%endif%}


<div id="searchdiv">
	<div class="form-group">
		<form class="form-inline" role="form" action="/search/" method="post">{% csrf_token %}
		    <label for="searchquery">Search User:</label>
		    <input type="text" name="searchquery" value="" id="searchquery">
		    <input type="submit" value="Search" />
		    <input type="hidden" name="next" value="{{ next|escape }}" />
		</form>
	</div>
    <div class="row">
    	{{user_choices_list | safe}}
    </div>
</div>

<div id="tweetdiv" class="table-responsive">

<form action="/PostTweet/" method="post">{% csrf_token %}
	{{TweetBoardForm.as_p}}
	 <input type="submit" value="Post!" />
</form>
{%if tweetslist %}
	<div id="tweetslistdiv">
		{{tweetslist | safe}}
	</div>
{%endif%}
</div>
{% endblock %}