<html>
<head>
	<link href="/static/css/bootstrap.css" rel="stylesheet">
	<link href="/static/css/mytweetsrv.css" rel="stylesheet">
</head>
<body>
  {% if form.errors %}
    <p class="error">Sorry, that's not a valid username or password</p>
  {% endif %}
	<div class="container">
      <form class="form-signin" action="/login/" method="post">{% csrf_token %}
        <h2 class="form-signin-heading">Please sign in</h2>
        <input name="username" type="text" class="form-control" placeholder="Username" autofocus>
        <input name="password" type="password" class="form-control" placeholder="Password">
        <label class="checkbox">
          <input type="checkbox" value="remember-me"> Remember me
        </label>
        <button class="btn btn-lg btn-primary btn-inline" type="submit">Sign in</button>        
        <button class="btn btn-lg btn-primary btn-inline" type="button" onclick="javascript:window.location.href='/register/'">Sign up</button>
      </form>    
	</div>
</body>
</html>